#owl-carousel .owl-dots{position: absolute;bottom: 12%;left: 50%;transform: translateX(-50%);}
#owl-carousel .owl-dots button{margin-right: 10px;}
#owl-carousel .owl-dots button span{width: 30px;height: 3px;margin-left: 0;margin-right: 0;}
#owl-carousel .owl-prev{position: absolute;top: 50%;left: 7%;transform: translateY(-50%);}
#owl-carousel .owl-prev:hover, #owl-carousel .owl-prev:focus{background: unset;}
#owl-carousel .owl-prev i{font-size: 40px;color: #fff;font-weight: bold;}
#owl-carousel .owl-next{position: absolute;top: 50%;right: 7%;transform: translateY(-50%);}
#owl-carousel .owl-next:hover, #owl-carousel .owl-next:focus{background: unset;}
#owl-carousel .owl-next i{font-size: 40px;color: #fff;font-weight: bold;}
#owl-carousel .owl-item img{
    height: 500px !important;
    object-fit: cover;
    max-width: 100% !important;
}

.sliderTitle{position: absolute; top: 5%;}
/* .sliderTitle h2{color: #fff; font-size: 76px;}
.sliderTitle p{color: #fff; font-size: 31px;} */