#owl-carousel .owl-dots{position: absolute;bottom: 12%;left: 50%;transform: translateX(-50%);}
#owl-carousel .owl-dots button{margin-right: 10px;}
#owl-carousel .owl-dots button span{width: 30px;height: 3px;margin-left: 0;margin-right: 0;}
#owl-carousel .owl-prev{position: absolute;top: 50%;left: 7%;transform: translateY(-50%);}
#owl-carousel .owl-prev:hover, #owl-carousel .owl-prev:focus{background: unset;}
#owl-carousel .owl-prev i{font-size: 40px;color: #fff;font-weight: bold;}
#owl-carousel .owl-next{position: absolute;top: 50%;right: 7%;transform: translateY(-50%);}
#owl-carousel .owl-next:hover, #owl-carousel .owl-next:focus{background: unset;}
#owl-carousel .owl-next i{font-size: 40px;color: #fff;font-weight: bold;}
#owl-carousel .owl-nav { margin-top: 0px;}
#owl-carousel .owl-item img{object-fit: cover;max-width: 100% !important; margin-bottom: 0px;}
.sliderTitle{position: absolute; top: 5%; width: 100%; }
/* .sliderTitle h2{color: #fff; font-size: 76px;}
.sliderTitle p{color: #fff; font-size: 31px;} */
#our_businesses_carousel {padding: 0px 80px;}
#our_businesses_carousel .owl-item img{max-width: 100% !important;}


body {
    background: #121212;
  }
  .slider {
    padding: 32px;
    color: #fff;
  }
  .slider .swiper-container {
    width: 100%;
    height: 100%;
  }
  .slider__flex {
    display: flex;
    align-items: flex-start;
  }
  .slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
  }
  .slider__prev,
  .slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .slider__prev:focus,
  .slider__next:focus {
    outline: none;
  }
  .slider__thumbs {
    height: calc(400px - 96px);
  }
  .slider__thumbs .slider__image {
    transition: 0.25s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
  }
  .slider__thumbs .slider__image:hover {
    opacity: 1;
  }
  .slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
  }
  .slider__images {
    height: 400px;
  }
  .slider__images .slider__image img {
    transition: 3s;
  }
  .slider__images .slider__image:hover img {
    transform: scale(1.1);
  }
  .slider__image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  .slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  @media (max-width: 767.98px) {
    .slider__flex {
      flex-direction: column-reverse;
    }
    .slider__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }
    .slider__images {
      width: 100%;
    }
    .slider__thumbs {
      height: 100px;
      width: calc(100% - 96px);
      margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
      height: auto;
      width: 32px;
    }
  }
  










@media(max-width:1199px){
    #our_businesses_carousel .brand-one{width: 100%;}
    #our_businesses_carousel{ padding: 0px 40px;}
}
@media(max-width:768px){
    #our_businesses_carousel .brand-one{width: 100%;}
    #our_businesses_carousel{ padding: 0px 20px;}
}

@media(max-width:575px){
  .sliderTitle h2{font-size: 30px !important;}
  .sliderTitle p{font-size: 20px !important;}
  #our_businesses_carousel .brand-one{width: 100%;}
  #our_businesses_carousel{ padding: 0px 15px;}
  #customers-testimonials .item{margin-bottom: 25px;}
  #customers-testimonials .shadow-effect p{
    font-size: 20px;
  }
  #customers-testimonials .testimonial-name{
    font-size: 20px !important;
  }
}