.adm-select-car-drop .select2-search__field:focus{border:0px !important;}
.brand-link{display: block;text-align: center;padding: 10px 0;}
.logo-image{width: 80px;}
.adm-navigation{height: 75px;}
 /* .show{color: #007bff;background-color: rgb(22, 5, 5);} */
.active{background-color: #3c71aa;}  
.adm-table-no-wrap{ white-space: nowrap;}
.footer_menu thead tr th:first-child{min-width: 45px ;text-align: left;}
.footer_menu tbody tr td:first-child{min-width: 45px ;text-align: left;}
.adm-table-responsive{ max-width: 100%; overflow-x: auto; margin-bottom: 10px;}
.adm-table-responsive::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
.adm-table-responsive::-webkit-scrollbar{height: 5px; width: 6px;background-color: #F5F5F5;}
.adm-table-responsive::-webkit-scrollbar-thumb{background-color: #000000;}
.adm-action-sticky{width: 100% !important;}
.adm-action-sticky tr th:first-child{min-width: 45px;}
.adm-action-sticky tr td:first-child{min-width: 45px;}
.adm-action-sticky tr th:last-child { position: sticky; z-index: 1; background-color: #ffffff; right: 0;}
.adm-action-sticky tr td:last-child { position: sticky; z-index: 1; background-color: #ffffff; right: 0;}
.edit_form .form-control{ height: 40px; padding: 4px 8px;}
.edit_form .select2-selection{ min-height: 40px !important; padding-left: 8px;}
.edit_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.edit_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.box-footer button{ margin-right: 15px;}
.slider_form .form-control { height: 40px; padding: 4px 8px; }
.slider_form .select2-selection{min-height: 40px !important; padding-left: 8px; }
.slider_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.slider_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.testimonials_form .form-control{height: 40px; padding: 4px 8px;}
.testimonials_form .select2-selection{min-height: 40px !important; padding-left: 8px; }
.testimonials_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.testimonials_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.our_businesses_form .form-control{ height: 40px; padding: 4px 8px; }
.our_businesses_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.our_businesses_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.our_businesses_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.home_detail_form .form-control{  height: 40px; padding: 4px 8px; }
.home_detail_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.home_detail_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.home_detail_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.mission_vision_form .form-control{  height: 40px; padding: 4px 8px; }
.mission_vision_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.mission_vision_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.mission_vision_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.setting_form .form-control{  height: 40px; padding: 4px 8px; }
.setting_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.setting_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.setting_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.brand_form .form-control{  height: 40px; padding: 4px 8px; }
.brand_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.brand_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.brand_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.car_form .form-control{  height: 40px; padding: 4px 8px; }
.car_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.car_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.car_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.car_form .adm-brand-errorbox {margin-bottom: 55px;position: relative;}
.showroom_form .form-control{  height: 40px; padding: 4px 8px; }
.showroom_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.showroom_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.showroom_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.service-center-form .form-control{  height: 40px; padding: 4px 8px; }
.service-center-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.service-center-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.service-center-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.service-form .form-control{  height: 40px; padding: 4px 8px; }
.service-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.service-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.service-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.service-center-facility-gallery-form .form-control{  height: 40px; padding: 4px 8px; }
.service-center-facility-gallery-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.service-center-facility-gallery-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.service-center-facility-gallery-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.service-center-testimonial-form .form-control{  height: 40px; padding: 4px 8px; }
.service-center-testimonial-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.service-center-testimonial-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.service-center-testimonial-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.header_menu_form .form-control{  height: 40px; padding: 4px 8px; }
.header_menu_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.header_menu_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.header_menu_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.header_menu_social_media_icon_form .form-control{  height: 40px; padding: 4px 8px; }
.header_menu_social_media_icon_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.header_menu_social_media_icon_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.header_menu_social_media_icon_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.footer_menu_form .form-control{  height: 40px; padding: 4px 8px; }
.footer_menu_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.footer_menu_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.footer_menu_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.count_form .form-control{  height: 40px; padding: 4px 8px; }
.count_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.count_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.count_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.showroom_facility_customer_gallery .form-control{  height: 40px; padding: 4px 8px; }
.showroom_facility_customer_gallery .select2-selection {min-height: 40px !important; padding-left: 8px; }
.showroom_facility_customer_gallery .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.showroom_facility_customer_gallery .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.award-form .form-control{  height: 40px; padding: 4px 8px; }
.award-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.award-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.award-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.adm-brand-errorbox{margin-bottom: 30px; position: relative;}
/* #brand_id-error{position: absolute;top:100%;left: 5px;} */
.service-center-testimonial-form .adm-brand-errorbox{margin-bottom: 30px; position: relative;}
.service-center-testimonial-form #service_center_id-error{position: absolute;top:100%;left: 5px;}
#service_id-error{position: absolute;top:100%;left: 5px;}
#link_url-error{position: absolute;top:100%;left: 5px;}
/* #title-error{position: absolute;top:100%;left: 5px;} */
#business_id-error{position: absolute;top:100%;left: 5px;}
.showroom_facility_customer_gallery_edit_form .form-control{  height: 40px; padding: 4px 8px; }
.showroom_facility_customer_gallery_edit_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.showroom_facility_customer_gallery_edit_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.showroom_facility_customer_gallery_edit_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.facility_customer_gallery_form .form-control{  height: 40px; padding: 4px 8px; }
.facility_customer_gallery_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.facility_customer_gallery_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.facility_customer_gallery_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.header-dropdown-menu a{ padding: 0px 10px;}
.adm-header-profile-img{height: 40px;width: 40px;border-radius: 50%;}
.adm-header-dropdown a{ padding: 0px 10px; }
.adm-navbar-ulheight{ height: 40px;}
.our-business-form .form-control{  height: 40px; padding: 4px 8px; }
.our-business-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.our-business-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.our-business-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.our-business-insurance-form .form-control{  height: 40px; padding: 4px 8px; }
.our-business-insurance-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.our-business-insurance-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.our-business-insurance-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.user-form .form-control{  height: 40px; padding: 4px 8px; }
.user-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.user-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.user-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.social_media_icon_edit_form .form-control{  height: 40px; padding: 4px 8px; }
.social_media_icon_edit_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.social_media_icon_edit_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.social_media_icon_edit_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.body_shop_form .form-control{  height: 40px; padding: 4px 8px; }
.body_shop_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.body_shop_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.body_shop_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.used_car_form .form-control{  height: 40px; padding: 4px 8px; }
.used_car_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.used_car_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.used_car_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.our_businesses_title_form .form-control{  height: 40px; padding: 4px 8px; }
.our_businesses_title_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.our_businesses_title_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.our_businesses_title_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.testimonials_title_form .form-control{  height: 40px; padding: 4px 8px; }
.testimonials_title_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.testimonials_title_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.testimonials_title_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.footer_menu_description_form .form-control{  height: 40px; padding: 4px 8px; }
.footer_menu_description_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.footer_menu_description_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.footer_menu_description_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.mission_vision_title_form .form-control{  height: 40px; padding: 4px 8px; }
.contact_us_form .form-control{  height: 40px; padding: 4px 8px; }
.contact_us_form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.contact_us_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.contact_us_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.our_location_form .form-control{  height: 40px; padding: 4px 8px; }
.our_location_form .select2-selection {height: 40px !important; padding-left: 8px; }
.our_location_form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.our_location_form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
.award-banner-form .form-control{  height: 40px; padding: 4px 8px; }
.award-banner-form .select2-selection {min-height: 40px !important; padding-left: 8px; }
.award-banner-form .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.award-banner-form .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
/* #page_link-error  */
.adm-brand-errorbox .error{margin-bottom: 25px;position: absolute;top: 100%;left: 5px;}
.adm-table-addbtn{margin-right: 20px;margin-top: 15px; }
.sidebar-collapse .logo-image{width: 30px;}
.sidebar-collapse .brand-link{height: 75px;display: flex;align-items: center;justify-content: center;}
.nav-treeview li a{padding-left: 35px !important;}
.image_type{word-break: break-all;white-space: nowrap;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {padding-left: 8px !important;}

.select-menu .select2-selection {min-height: 40px !important; padding-left: 8px; }
.select-menu .select2-container--default .select2-selection--single .select2-selection__arrow{ height: 36px; }
.select-menu .select2-container--default .select2-selection--single .select2-selection__rendered{ padding-left: 0px;}
@media(max-width:575px){
    .adm-action-sticky tr th:last-child { position: unset;}
    .adm-action-sticky tr td:last-child { position: unset;}
}

