.adm-select-car-drop .select2-search__field:focus{border:0px !important;}
.brand-link{display: block;text-align: center;padding: 10px 0;}
.logo-image{width: 80px;}
.adm-navigation{height: 75px;}
/* .show{color: #007bff;background-color: rgb(22, 5, 5);}
.active{color: #007bff;}  */
.adm-table-no-wrap{ white-space: nowrap;}
.footer_menu thead tr th:first-child{min-width: 50px ;text-align: left;}
.footer_menu tbody tr td:first-child{min-width: 50px ;text-align: left;}